@import "../vars";

.special-offers {
  padding-top: 70px;
  padding-bottom: 35px;
}

.special-offers__wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.high-rating {
  padding-top: 35px;
  padding-bottom: 70px;
}

.high-rating__wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.categories {
  padding-top: 70px;
  padding-bottom: 35px;
}

.categories__wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.useful {
  padding-top: 35px;
  padding-bottom: 35px;
}

.useful__wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.catalogue__wrap {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 32px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 30px;
  background-color: #f6f6f6;
  border-radius: 10px;

  .card__content {
    align-self: flex-start;
    justify-self: flex-end;
  }

  .card__title {
    margin: 0;
    max-width: 225px;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: $dark-color;
  }

  .card__prices {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .card__price {
    margin: 0;
    font-weight: 400;
    line-height: 120%;
  }

  .card__price_new {
    font-size: 18px;
    color: $main-orange;
  }

  .card__price_old {
    font-size: 16px;
    color: #666;
    text-decoration: line-through;
  }

  .card__simple-price {
    color: #666;
  }

  .card__image {
    margin-top: auto;
  }

  .card__descr {
    margin: 0;
    color: $dark-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 136%;
  }

  .card__btn {
    display: inline-block;
  }
}

.card-small {
  grid-column-start: span 3;

  .card__image {
    max-width: 193px;
    height: fit-content;
  }
}

.high-rating__card.card-small .card__image,
.catalogue__card.card-small .card__image {
  max-width: 110%;
  width: 110%;
}

.card-m {
  grid-column-start: span 4;

  .card__image {
    max-width: 306px;
    height: fit-content;
  }
}

.card-large {
  grid-column-start: span 6;
  background-repeat: no-repeat;
  background-position: bottom 30px right 30px;
  background-size: 230px 107px;

  .card__image {
    max-width: 450px;
    height: fit-content;
  }
}

.card-xl {
  grid-column-start: span 6;

  .card__image {
    max-width: 515px;
    height: fit-content;
  }
}

.special-offers__card {
  min-height: 511px;

  .card__image {
    margin-bottom: 16px;
  }

  .card__title {
    margin-bottom: 23px;
    letter-spacing: 1px;
  }

  .card__prices {
    margin-bottom: 23px;
  }
}

.high-rating__card,
.catalogue__card {
  min-height: 420px;

  .card__title {
    margin-bottom: 24px;
    max-width: 100%;
  }

  .card__image {
    margin-bottom: 16px;
  }

  .card__simple-price {
    margin-bottom: 24px;
  }
}

.sale-wrap {
  position: absolute;
  left: 0;
  top: 30px;
  padding: 7px 19px;
  background-color: $main-orange;

  .sale-price {
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    color: $light-color;
  }

  .sale-el {
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 10px solid $main-orange;
    border-top: 17px solid transparent;
    border-bottom: 16px solid transparent;
  }
}

.rating {
  position: relative;
  padding-left: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: $main-orange;
}

.rating {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rating::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.categories__card {
  align-items: flex-start;
  gap: 0;

  .card__image {
    margin-bottom: 27px;
    transform: translateX(-30px);
  }

  .card__title {
    margin-bottom: 30px;
  }
}

.categories__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  gap: 30px;
  margin-bottom: 19px;
}

.categories__item {
  margin: 0;
  padding: 0;
  color: $dark-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.useful__card {
  padding: 0;
  min-height: 676px;
}

.useful__card:nth-of-type(3),
.useful__card:nth-of-type(4),
.useful__card:nth-of-type(5) {
  display: none;
}

.card__image-wrap {
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 63%;
  margin-bottom: -4px;
}

.card__content-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  min-height: 27%;
}

.special-offers__card:nth-of-type(4),
.special-offers__card:nth-of-type(5),
.special-offers__card:nth-of-type(6) {
  display: none;
}

@media (max-width: 1200px) {
  .special-offers__wrap {
    grid-template-columns: repeat(9, 1fr);
  }

  .high-rating__wrap {
    grid-template-columns: repeat(9, 1fr);
  }

  .high-rating__card:last-of-type {
    display: none;
  }

  .high-rating__card:nth-last-of-type(2) {
    display: none;
  }

  .categories__wrap {
    grid-template-columns: repeat(9, 1fr);
  }

  .categories__card {
    min-height: 511px;

    .card__title {
      margin-bottom: 36px;
    }

    .card__image {
      margin: 0;
    }

    .card__btn {
      margin-top: auto;
    }
  }

  .categories__card:not(:first-child) {
    grid-column-start: span 3;
  }

  .categories__card:nth-child(2),
  .categories__card:nth-child(5) {
    order: 1;
  }

  .categories__card .card__image {
    width: calc(100% + 60px)
  }

  .useful__wrap {
    grid-template-columns: repeat(9, 1fr);
  }

  .useful__card:nth-of-type(3) {
    display: flex;
  }

  .useful__card {
    min-height: 456px;
    grid-column-start: span 3;

    .card__descr {
      font-size: 16px;
    }

    .card__image-wrap {
      min-height: 44%;
    }
  }

  .simmilar .high-rating__card:not(:nth-of-type(4)) {
    display: flex;
  }

}

@media (max-width: 920px) {
  .special-offers__wrap {
    grid-template-columns: repeat(6, 1fr);
  }

  .special-offers__card:nth-of-type(3) {
    display: none;
  }

  .high-rating__wrap {
    grid-template-columns: repeat(6, 1fr);
  }

  .categories__wrap {
    grid-template-columns: repeat(6, 1fr);
  }

  .categories__card:nth-of-type(4) {
    order: 1;
  }

  .useful__wrap {
    grid-template-columns: repeat(6, 1fr);
  }

  .useful__card:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 650px) {
  .sale-wrap {
    padding: 8px 19px;
  }

  .special-offers {
    padding-top: 68px;
  }

  .special-offers__wrap {
    gap: 16px;
    row-gap: 24px;
  }

  .special-offers__card {
    grid-column-start: span 6 !important;

    .card__image {
      margin: auto auto 16px;
    }
  }

  .card-large {
    grid-column-start: span 6;
  }

  .high-rating__wrap {
    gap: 16px;
  }

  .high-rating__card,
  .catalogue__card {
    padding: 16px;
    min-height: 278px;
    grid-column-start: span 3;

    .card__title {
      margin-bottom: 16px;
      font-size: 16px;
    }

    .card__simple-price {
      margin-bottom: 16px;
      font-size: 16px;
    }

    .card__btn {
      padding: 10px 24px;
    }

    .card__image {
      margin: auto auto 22px;
    }
  }

  .rating {
    top: 17px;
    left: 16px;
    font-size: 12px;
  }

  .rating::before {
    width: 12px;
    height: 12px;
  }

  .special-offers__card {
    .card__image {
      max-width: 100%;
    }
  }

  .special-offers__card:nth-of-type(3),
  .special-offers__card:nth-of-type(4),
  .special-offers__card:nth-of-type(5),
  .special-offers__card:nth-of-type(6) {
    display: flex;
  }

  .categories__wrap {
    gap: 32px 16px;
  }

  .categories__card:not(:first-of-type) {
    padding: 16px 16px 10px;
    grid-column-start: span 3;
    min-height: 206px;

    .card__title {
      margin-bottom: 16px;
      font-size: 16px;
    }

    .categories__list {
      margin-bottom: 6px;
      flex-direction: column;
      row-gap: 0;
    }

    .categories__item {
      font-size: 10px;
    }

    .card__image {
      transform: translateX(-16px);
    }
  }

  .categories__card {
    overflow: hidden;

    .card__btn span:first-of-type {
      display: none;
    }

    .card__image {
      order: 1;
    }

    .card__title {
      position: relative;
      padding-right: 27px;
    }

    .card__btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .categories__card:first-of-type {
    padding: 30px 30px 16px;
    min-height: 332px;
    height: min-content;

    .card__title {
      margin-bottom: 13px;
    }

    .categories__list {
      margin-bottom: 14px;
    }
  }

  .useful__wrap {
    column-gap: 16px;
    row-gap: 24px;
  }

  .useful__card {
    grid-column-start: span 6;
  }

  .useful__card:nth-of-type(3),
  .useful__card:nth-of-type(4),
  .useful__card:nth-of-type(5) {
    display: flex;
  }
}