.feedback {
  padding-top: 38px;
  padding-bottom: 70px;
}

.feedback__container {
  position: relative;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.feedback__form {
  position: relative;
}

.form__descr {
  margin: 0;
  margin-bottom: 16px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
}

.form__input {
  margin-bottom: 30px;
  width: 100%;
}

.form__btn {
  margin-bottom: 12px;
  padding: 17px 35px;
  max-width: 159px;
}

.form__checkbox {
  margin-right: 8px;
}

.feedback__container::after {
  content: '';
  position: absolute;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: calc((100% / 2) - 32px);
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .feedback {
    padding-top: 36px;
    padding-bottom: 69px;
  }

  .feedback__form {
    width: calc(((100% / 9) * 4) - 32px);
  }

  .feedback__container::after {
    right: 0;
    width: calc(((100% / 9) * 5) - 32px);
  }

  .form__descr {
    max-width: 383px;
  }
}

@media (max-width: 920px) {
  .feedback__container::after {
    width: calc(100% / 3);
  }

  .feedback__form {
    width: calc((100% / 3) * 2);
  }
}

@media (max-width: 650px) {
  .feedback {
    padding-bottom: 67px;
  }

  .feedback__form {
    width: 100%;
  }

  .feedback__container::after {
    display: none;
  }

  .section-title.form__title {
    margin-bottom: 8px;
  }

  .form__descr {
    max-width: 290px;
  }
}