@import "./ui";

.header-l {
  display: block;
}

.header-m {
  display: none;
}

.header-s {
  display: none;
}

.header-mobile {
  display: none;
}

.header__phone {
  padding-top: 20px;
  padding-bottom: 20px;
}

.additional {
  padding: 16px 0;
  background-color: #f6f6f6;
}

.additional__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additional__nav {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  gap: 64px;
}

.main {
  padding-top: 32px;
  padding-bottom: 12px;
}

.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__nav {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  gap: 91px;
}

.elements {
  padding-top: 16px;
  padding-bottom: 34px;
}

.elements__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.elements__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 32px;
}

.elements__list-item {
  position: relative;
  display: block;
  width: fit-content;
  height: 28px;
  color: $main-purple;
  transition: all .2s ease;
}

.elements__list-item::before {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  background-color: #C998FB;
  z-index: -1;
  opacity: 0;
  content: '';
  transition: all .2s ease;
}

.elements__list-item:hover {
  color: $light-purple;
}

.elements__list-item:focus-visible {
  outline: none;
  color: $light-color;
}

.elements__list-item:focus-visible::before {
  opacity: 1;
}

.elements__list-item:active {
  color: $dark-purple;
}

.elements__search {
  position: relative;
  max-width: 1061px;
  width: 100%;
}

.elements__search::after {
  position: absolute;
  right: 34px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url('../../img/svg/arrow.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  content: '';
}

.elements__search svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
  color: $dark-grey;
  cursor: text;
}

.elements__list-item_cart:first-child {
  position: relative;
  padding-left: 10px;
}

.elements__list-item_cart:first-child::after {
  content: '0';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-top: 2px;
  width: 14px;
  height: 15px;
  border-radius: 50%;
  background-color: $main-orange;
  color: $light-color;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
}

.crumbs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
}

.crumbs__item:not(:last-of-type)::after {
  content: '/';
  padding: 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $dark-grey;
}

.crumbs__item_active .primary-nav {
  color: $dark-purple;
}


.logotype {
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 7px;
  background-color: #f6f6f6;
}

.header__logotype {
  text-align: center;
}

.links {
  margin-bottom: 6px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid #f6f6f6;
  border-left: none;
  border-right: none;
}

.links__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

@media (max-width: 1200px) {
  .header-l {
    display: none;
  }

  .header-m {
    display: block;
  }

  .header-catalogue .elements {
    padding-bottom: 22px;
  }

  .additional {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .main {
    padding-top: 32px;
    padding-bottom: 17px;
  }

  .main__nav {
    gap: 48px;
  }

  .elements {
    padding-top: 11px;

    .elements__search {
      max-width: 733px;
    }

    .elements__search::after {
      right: 32px;
    }
  }
}

@media (max-width: 920px) {
  .header-m {
    display: none;
  }

  .header-s {
    display: block;

    .main__container {
      padding-left: 68px;
      flex-wrap: wrap;
      row-gap: 30px;
    }

    .main__container nav {
      width: 100%;
      order: 3;
    }
  }

  .header__phone {
    padding-top: 18px;
    padding-bottom: 23px;
  }

  .additional {
    padding-top: 18px;
    padding-bottom: 13px;
  }

  .additional__nav {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }

  .main {
    padding-bottom: 22px;
  }

  .main__nav {
    gap: 0px;
    width: 100%;
    justify-content: space-between;
  }

  .elements {
    padding-bottom: 33px;
  }
}

@media (max-width: 650px) {
  .header-s {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .header-catalogue .elements {
    padding-bottom: 0;
  }

  .main {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .main__nav {
    gap: 30px;
    width: max-content;
    overflow-x: hidden;
  }

  .main nav {
    overflow: hidden;
  }

}