@import "../vars";

.primary-btn {
  display: inline-block;
  padding: 20px 50px;
  background-color: $main-purple;
  border: 2px solid $main-purple;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: $light-color;
  cursor: pointer;
  transition: all .2s ease;
}

.primary-btn:hover {
  background-color: $light-purple;
  border-color: $light-purple;
}

.primary-btn:focus-visible {
  outline: none;
  background-color: $light-purple;
  border-color: $dark-purple;
}

.primary-btn:active {
  background-color: $dark-purple;
  border-color: $dark-purple;
}

.primary-btn:disabled {
  background-color: $light-grey;
  border-color: $light-grey;
  color: $dark-grey;
}

.secondary-btn {
  display: inline-block;
  padding: 17px 34px;
  border: 2px solid $main-purple;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: $main-purple;
  cursor: pointer;
  transition: all .2s ease;
}

.secondary-btn:hover {
  background-color: $main-purple;
  border-color: $main-purple;
  color: $light-color;
}

.secondary-btn:focus-visible {
  outline: none;
  background-color: $light-purple;
  border-color: $main-purple;
  color: $light-color;
}

.secondary-btn:active {
  background-color: $dark-purple;
  border-color: $dark-purple;
  color: $light-color;
}

.secondary-btn:disabled {
  background-color: $light-grey;
  border-color: $light-grey;
  color: $dark-grey;
}

.borderless-btn {
  display: inline-block;
  font-style: 16px;
  font-weight: 400;
  line-height: 120%;
  color: $main-purple;
  transition: all .2s ease;
}

.borderless-btn:hover {
  text-decoration-color: $light-purple;
}

.borderless-btn:focus-visible {
  outline: none;
  color: $dark-purple;
}

.borderless-btn:active {
  color: $dark-purple;
}

.link-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  padding-right: 32px;

  position: relative;
  color: $main-purple;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline 2px transparent;
  transition: all .2s ease;
}

.link-btn__arrow {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid $main-purple;
  transition: all .2s ease;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $main-purple;
    transition: all .2s ease;
  }
}

.link-btn:hover {
  text-decoration-color: $main-purple;

  .link-btn__arrow {
    background-color: $main-purple;

    svg {
      color: $light-color;
    }
  }
}

.link-btn:focus-visible {
  outline: none;
  text-decoration-color: $main-purple;

  .link-btn__arrow {
    background-color: $light-purple;

    svg {
      color: $light-color;
    }
  }
}

.link-btn:active {
  color: $dark-purple;
  text-decoration-color: $dark-purple;

  .link-btn__arrow {
    border-color: $dark-purple;
    background-color: $dark-purple;

    svg {
      color: $light-color;
    }
  }
}

.primary-nav {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $dark-grey;
  height: fit-content;
  transition: all .2s ease;
}

.primary-nav span {
  position: relative;
  z-index: 100;
}

.primary-nav svg {
  position: relative;
  z-index: 100;
}

.primary-nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  right: -8px;
  z-index: 10;
  background-color: #EBD1FF;
  content: '';
  opacity: 0;
  transition: all .2s ease;
}

.primary-nav:hover {
  color: $main-purple;
}

.primary-nav:focus-visible {
  outline: none;
  color: $dark-purple;

  svg {
    color: $light-color;
  }
}

.primary-nav:focus-visible::before {
  opacity: 1;
}

.primary-nav:active {
  color: $dark-purple;
}

.footer__social {
  .primary-nav {
    display: inline-block;
    height: fit-content;
  }

  .primary-nav::before {
    top: -3px;
    bottom: -3px;
    right: -3px;
    left: -3px;
    background-color: $light-purple;
  }
}

.secondary-nav {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: $dark-color;
  transition: all .2s ease;
}

.secondary-nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  right: -8px;
  z-index: -1;
  background-color: #EBD1FF;
  content: '';
  opacity: 0;
  transition: all .2s ease;
}

.secondary-nav:hover {
  color: $main-purple;
}

.secondary-nav:focus-visible {
  outline: none;
  color: $dark-purple;
}

.secondary-nav:focus-visible::before {
  opacity: 1;
}

.secondary-nav:active {
  color: $dark-purple;
}

.phone {
  position: relative;
  padding-left: 22px;
  color: $main-orange;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  z-index: 10;
  transition: all .2s ease;
}

.phone span,
.phone svg {
  position: relative;
  z-index: 100;
}

.phone::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  content: '';
  background-color: #FFF5D1;
  opacity: 0;
  transition: all .2s ease;
}

.phone svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.phone:hover {
  color: $light-orange;
}

.phone:focus-visible {
  outline: none;
  color: $main-orange;
}

.phone:focus-visible::before {
  opacity: 1;
}

.phone:active {
  color: $dark-orange;
}

.search {
  padding: 18px 53px 18px 59px;

  max-width: 1061px;
  width: 100%;

  color: $dark-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;

  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
  border-radius: 10px 0 0 10px;

  transition: all .2s ease;
}

.search::placeholder {
  color: $dark-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.search:hover {
  border-color: #eaeaea;
  background-color: #eaeaea;
}

.search:focus-visible {
  outline: none;
  background-color: #F8EFFF;
  border-color: $main-purple;
}

.search:active {
  border-color: #f6f6f6;
  background-color: #f6f6f6;
}

.search:not(:placeholder-shown)+svg {
  color: $main-purple;
}

.logo:focus-visible {
  outline: 1px solid $main-purple;
}

.input {
  padding: 7px 18px;
  border: none;
  border-radius: 10px;
  background-color: #f6f6f6;
  font-size: 16px;
  line-height: 250%;
  font-weight: 400;
  color: $dark-color;
  transition: all .2s ease;
}

.input::placeholder {
  font-size: 16px;
  line-height: 250%;
  font-weight: 400;
  color: $dark-grey;
}

.input:hover {
  outline: none;
  background-color: #eaeaea;
}

.input:focus-visible {
  outline: 1px solid $main-purple;
  background-color: #F8EFFF;
}

.input:not(:placeholder-shown) {
  outline: 1px solid #B8EC64;
}

.custom-checkbox {
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #999;
  transition: all .2s ease;
}

.custom-checkbox::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  content: '';
  transition: all .2s ease;
}

.custom-checkbox:checked {
  border-color: $main-purple;
  background-color: $main-purple;
}

.custom-checkbox:checked::after {
  opacity: 1;
}

.label {
  display: flex;
  align-items: center;
  color: $dark-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.link {
  color: $main-purple;
  text-decoration: underline;
  transition: all .2s ease;
}

.link:focus-visible {
  outline: none;
  opacity: 0.7;
}

.secondary-link {
  color: $dark-grey;
}

.custom-radio input[type="radio"] {
  appearance: none;
  z-index: 10;
}

.custom-radio {
  display: block;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 2px solid $main-purple;
  border-radius: 10px;
  color: $main-purple;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}

.custom-radio:has(input[type="radio"]:checked) {
  border-color: $dark-purple;
  background-color: $dark-purple;
  color: $light-color;
}

.custom-radio:hover {
  background-color: $main-purple;
  color: $light-color;
}


.custom-radio:has(input:focus-visible) {
  background-color: $light-purple;
  outline: none;
}

.custom-radio:has(input[type="radio"]:checked:focus-visible) {
  background-color: $light-purple;
  outline: none;
}

.custom-radio:active {
  border-color: $dark-purple;
  background-color: $dark-purple;
  color: $light-color;
}