<section id="contacts" class="feedback">
  <div class="container feedback__container">
    <form action="POST" class="feedback__form form">
      <h2 class="form__title section-title">Мы всегда вам рады!</h2>
      <p class="form__descr">Безусловно, новая модель организационной деятельности в значительной степени
        обусловливает важность распределения
        внутренних резервов и ресурсов.</p>
      <input class="form__input input" type="text" name="name" placeholder="Как вас зовут?" required>
      <input class="form__input input" type="tel" name="phone" placeholder="Ваш телефон" required>
      <input class="form__input input" type="email" name="email" placeholder="Ваш e-mail" required>
      <button class="form__btn primary-btn">Отправить</button>
      <label class="form__label label" for="form-checkbox">
        <input id="form-checkbox" class="form__checkbox custom-checkbox" type="checkbox" name="agreement" checked>
        Принимаю&nbsp;<a href="#" class="link form__link"> пользовательское соглашение</a>
      </label>
    </form>
    <div class="feedback__img"></div>
  </div>
</section>