<section class="high-rating">
  <div class="container high-rating__container">
    <h2 class="section-title high-rating__title">Высокий рейтинг</h2>
    <div class="high-rating__wrap">
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">5,0</span>
        <picture class="card__image">
          <img src="./img/rating1.png" alt="Диван кожаный “R-94”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван кожаный “R-94”</h3>
          <p class="card__price card__simple_price">94 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,9</span>
        <picture class="card__image">
          <img src="./img/rating2.png" alt="Диван апартековый “T-75”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван апартековый “T-75”</h3>
          <p class="card__price card__simple_price">69 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,8</span>
        <picture class="card__image">
          <img src="./img/rating3.png" alt="Диван тканевый “D-31”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван тканевый “D-31”</h3>
          <p class="card__price card__simple_price">28 490 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,8</span>
        <picture class="card__image">
          <img src="./img/rating4.png" alt="Диван велюровый “Y-68”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван велюровый “Y-68”</h3>
          <p class="card__price card__simple_price">22 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,8</span>
        <picture class="card__image">
          <img src="./img/rating5.png" alt="Диван из шинила “W-95”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван из шинила “W-95”</h3>
          <p class="card__price card__simple_price">22 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,8</span>
        <picture class="card__image">
          <img src="./img/rating6.png" alt="Диван флоковый “G-41”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван флоковый “G-41”</h3>
          <p class="card__price card__simple_price">17 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,8</span>
        <picture class="card__image">
          <img src="./img/rating7.png" alt="Диван шиниловый “V-43”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван шиниловый “V-43”</h3>
          <p class="card__price card__simple_price">19 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,7</span>
        <picture class="card__image">
          <img src="./img/rating8.png" alt="Диван велюровый “S-99”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван велюровый “S-99”</h3>
          <p class="card__price card__simple_price">19 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
    </div>
  </div>
</section>