<section class="high-rating">
  <div class="container high-rating__container">
    <h2 class="high-rating__title section-title">Похожие товары</h2>
    <div class="high-rating__wrap">
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,5</span>
        <picture class="card__image">
          <img src="./img/simmilar1.png" alt="Диван велюровый “R-85”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван велюровый “R-85”</h3>
          <p class="card__price card__simple_price">34 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,6</span>
        <picture class="card__image">
          <img src="./img/similar2.png" alt="Диван апартековый “T-75”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван апартековый “T-75”</h3>
          <p class="card__price card__simple_price">23 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,5</span>
        <picture class="card__image">
          <img src="./img/similar3.png" alt="Диван велюровый “S-44”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван велюровый “S-44”</h3>
          <p class="card__price card__simple_price">19 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
      <article class="high-rating__card card card-small">
        <span class="high-rating__rating rating">4,8</span>
        <picture class="card__image">
          <img src="./img/similar4.png" alt="Диван шиниловый “V-43”">
        </picture>
        <div class="card__content">
          <h3 class="card__title">Диван шиниловый “V-43”</h3>
          <p class="card__price card__simple_price">19 990 руб</p>
          <a href="product.html" class="card__btn secondary-btn">Купить</a>
        </div>
      </article>
    </div>
  </div>
</section>