<section class="special-offers">
  <div class="special-offers__container container">
    <h2 class="section-title special-offers__title">Специальные предложения</h2>
    <ul class="special-offers__wrap">
      <li class="special-offers__card card card_small">
        <article class="card__innner">
          <div class="special-offers__sale sale-wrap">
            <span class="sale-price">-9 000</span>
            <span class="sale-el"></span>
          </div>
          <picture class="card__image">
            <source media="(max-width: 650px)" srcset="./img/offer1.png">
            <source media="(max-width: 1200px)" srcset="./img/offer1-1200.png">
            <img src="./img/offer1.png" alt="Кресло велюровое “X-24”">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Кресло велюровое “X-24”</h3>
            <div class="card__prices">
              <span class="card__price card__price_new">15 990 руб</span>
              <span class="card__price card__price_old">24 990 руб</span>
            </div>
            <a href="product.html" class="card__btn secondary-btn">Купить</a>
          </div>
        </article>
      </li>
      <li class="special-offers__card card card_large">
        <article class="card__innner">
          <div class="special-offers__sale sale-wrap">
            <span class="sale-price">-10 000</span>
            <span class="sale-el"></span>
          </div>
          <picture class="card__image">
            <source media="(max-width: 650px)" srcset="./img/offer2-320.png">
            <source media="(max-width: 1200px)" srcset="./img/offer2-1200.png">
            <img src="./img/offer2.png" alt="Диван тканевый “Z-44”">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Диван тканевый “Z-44”</h3>
            <div class="card__prices">
              <span class="card__price card__price_new">22 990 руб</span>
              <span class="card__price card__price_old">32 990 руб</span>
            </div>
            <a href="product.html" class="card__btn secondary-btn">Купить</a>
          </div>
        </article>
      </li>
      <li class="special-offers__card card card_small">
        <article class="card__innner">
          <div class="special-offers__sale sale-wrap">
            <span class="sale-price">-600</span>
            <span class="sale-el"></span>
          </div>
          <picture class="card__image">
            <source media="(max-width: 650px)" srcset="./img/offer3.png">
            <source media="(max-width: 1200px)" srcset="./img/offer3-1200.png">
            <img src="./img/offer3.png" alt="Будильник  “Quartz-23””">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Будильник “Quartz-23”</h3>
            <div class="card__prices">
              <span class="card__price card__price_new">1 290 руб</span>
              <span class="card__price card__price_old">1 890 руб</span>
            </div>
            <a href="product.html" class="card__btn secondary-btn">Купить</a>
          </div>
        </article>
      </li>
      <li class="special-offers__card card card_small">
        <article class="card__innner">
          <div class="special-offers__sale sale-wrap">
            <span class="sale-price">-300</span>
            <span class="sale-el"></span>
          </div>
          <picture class="card__image">
            <img src="./img/offer4.png" alt="Мини-скульптура “Oh my deer””">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Мини-скульптура “Oh my deer”</h3>
            <div class="card__prices">
              <span class="card__price card__price_new">690 руб</span>
              <span class="card__price card__price_old">990 руб</span>
            </div>
            <a href="product.html" class="card__btn secondary-btn">Купить</a>
          </div>
        </article>
      </li>
      <li class="special-offers__card card card_small">
        <article class="card__innner">
          <div class="special-offers__sale sale-wrap">
            <span class="sale-price">-10000</span>
            <span class="sale-el"></span>
          </div>
          <picture class="card__image">
            <img src="./img/offer5.png" alt="Диван вел-флок “Z-85”">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Диван вел-флок “Z-85”</h3>
            <div class="card__prices">
              <span class="card__price card__price_new">22 990 руб</span>
              <span class="card__price card__price_old">32 990 руб</span>
            </div>
            <a href="product.html" class="card__btn secondary-btn">Купить</a>
          </div>
        </article>
      </li>
      <li class="special-offers__card card card_small">
        <article class="card__innner">
          <div class="special-offers__sale sale-wrap">
            <span class="sale-price">-700</span>
            <span class="sale-el"></span>
          </div>
          <picture class="card__image">
            <img src="./img/offer6.png" alt="Термометр + гидрометр “H-18”">
          </picture>
          <div class="card__content">
            <h3 class="card__title">Термометр + гидрометр “H-18”</h3>
            <div class="card__prices">
              <span class="card__price card__price_new">1 390 руб</span>
              <span class="card__price card__price_old">2 090 руб</span>
            </div>
            <a href="product.html" class="card__btn secondary-btn">Купить</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>