<section class="useful">
  <div class="container useful__container">
    <h2 class="useful__title section-title">Полезное</h2>
    <div class="useful__wrap">
      <article class="useful__card card card-xl">
        <div class="card__image-wrap"></div>
        <p class="card__descr">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что
          иное?</p>
        <button class="card__btn secondary-btn">Читать</button>
      </article>
      <article class="useful__card card card-xl">
        <div class="card__image-wrap"></div>
        <p class="card__descr">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
        <button class="card__btn secondary-btn">Читать</button>
      </article>
    </div>
  </div>
</section>