<section class="useful">
  <div class="container useful__container">
    <h2 class="useful__title section-title">Полезное</h2>
    <ul class="useful__wrap">
      <li class="useful__card card card_xl">
        <article class="card__innner">
          <picture class="card__image-wrap">
            <source media="(max-width: 1200px)" srcset="./img/useful1-1024.png">
            <img src="./img/useful1.png" alt="Изображение к статье">
          </picture>
          <div class="card__content-wrap">
            <p class="card__descr">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не
              что
              иное?</p>
            <button class="card__btn secondary-btn">Читать</button>
          </div>
        </article>
      </li>
      <li class="useful__card card card_xl">
        <article class="card__innner">
          <picture class="card__image-wrap">
            <source media="(max-width: 1200px)" srcset="./img/useful2-1024.png">
            <img src="./img/useful2.png" alt="Изображение к статье">
          </picture>
          <div class="card__content-wrap">
            <p class="card__descr">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
            <button class="card__btn secondary-btn">Читать</button>
          </div>
        </article>
      </li>
      <li class="useful__card card card_xl">
        <article class="card__innner">
          <picture class="card__image-wrap">
            <source media="(max-width: 1200px)" srcset="./img/useful3-1024.png">
            <img src="./img/useful3-1024.png" alt="Изображение к статье">
          </picture>
          <div class="card__content-wrap">
            <p class="card__descr">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?</p>
            <button class="card__btn secondary-btn">Читать</button>
          </div>
        </article>
      </li>
      <li class="useful__card card card_xl">
        <article class="card__innner">
          <picture class="card__image-wrap">
            <img src="./img/useful4.png" alt="Изображение к статье">
          </picture>
          <div class="card__content-wrap">
            <p class="card__descr">Прежде всего, консультация с широким активом однозначно фиксирует необходимость
              распределения?</p>
            <button class="card__btn secondary-btn">Читать</button>
          </div>
        </article>
      </li>
      <li class="useful__card card card_xl">
        <article class="card__innner">
          <picture class="card__image-wrap">
            <img src="./img/useful5.png" alt="Изображение к статье">
          </picture>
          <div class="card__content-wrap">
            <p class="card__descr">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
            <button class="card__btn secondary-btn">Читать</button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>