$light-color: #fff;
$dark-color: #333;
$main-purple: #A65CF0;
$light-purple: #C998FB;
$dark-purple: #7033AC;

$light-grey: #EAEAEA;
$dark-grey: #999999;

$main-orange: #FF862F;
$light-orange: #FFBD59;
$dark-orange: #BB370E;

$main-green: #B8EC64;