// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/ui";
@import "./components/cards";
@import "./components/form";
@import "./components/catalogue";
@import "./components/product";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  min-width: 320px;
  background-color: $light-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.categories-mobile {
  display: none;
}

.container {
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 37px;
  max-width: 1353px;
}

.banner {
  padding: 80px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale-banner {
  background-image: url('../img/banner-1.png');
}

.offer-banner {
  padding: 155px 0 149px;
  background-image: url('../img/banner-2.png');
}

.offer-banner__btn {
  padding: 20px 35px;
  max-width: 187px;
}

.rating::before {
  background-image: url('../img/svg/rating.svg');
}

.sale-banner__text {
  margin: 0;
  margin-bottom: 47px;
  letter-spacing: 2px;
  font-size: 48px;
  font-weight: 700;
  line-height: 135%;
  color: #999;
}

.sale-banner__text span,
.offer-banner__title span {
  display: block;
}

.sale-banner__btn {
  max-width: 187px;
}

.offer-banner__title {
  margin: 0;
  margin-bottom: 49px;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1px;
  color: $light-color;
}

.offer-banner__name {
  font-family: 'PlayfairDisplay';
  font-size: 60px;
  font-weight: 900;
  line-height: 120%;
  color: #d4b986;
}

.offer-banner-s {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 360px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-image: url('../img/banner-2-s.png');
  background-position: top center;
  background-size: 100% 53%;
  background-color: $dark-color;

  .offer-banner__title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #999;
  }

  .offer-banner__name {
    font-size: 24px;
  }
}


.card_large {
  background-image: url('../img/offer2-bg.png');
}

.section-title {
  margin: 0;
  font-size: 32px;
  margin-bottom: 26px;
  font-weight: 400;
  line-height: 100%;
  color: $dark-color;
}

.section-title-mini {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: $dark-color;
}

.catalogue__title {
  margin-bottom: 26px;
}

.product__title {
  padding-top: 7px;
  margin-bottom: 5px;
}

.form__title {
  margin-bottom: 9px;
}

.simmilar .section-title {
  font-size: 24px;
}

.custom-checkbox::after {
  background-image: url('../img/svg/checkbox.svg');
}

.feedback__container::after {
  background-image: url('../img/svg/form.svg');
}

.descr-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #999;
}

.product__descr {
  margin-bottom: 24px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }

  .card_large {
    grid-column-start: span 3;
    background-image: none;
  }

  .sale-banner__text {
    margin-bottom: 43px;
    font-size: 50px;
    line-height: 137%;
  }

  .sale-banner {
    background-image: url('../img/banner-1-1024.png');
  }

  .offer-banner {
    background-image: url('../img/banner-2-1024.png');
  }
}

@media (max-width: 920px) {
  .container {
    padding-right: 72px;
    padding-left: 72px;
    max-width: 768px;
  }

  .sale-banner {
    background-image: url('../img/banner-1-768.png');
  }

  .sale-banner__container {
    padding-left: 72px;
  }

  .sale-banner__text {
    letter-spacing: normal;
  }

  .offer-banner {
    background-image: url('../img/banner-2-768.png');
  }

  .offer-banner__container {
    padding-left: 36px;
  }

  .feedback__container::after {
    background-image: url('../img/svg/form-s.svg');
  }
}

@media (max-width: 650px) {
  .section-title {
    margin-bottom: 26px;
    font-size: 24px;
  }

  .categories {
    display: none;
  }

  .categories-mobile {
    display: block;
  }

  .container {
    padding-right: 12px;
    padding-left: 12px;
  }

  .sale-banner {
    padding-top: 30px;
    padding-bottom: 0;
    min-height: 302px;
    background-position: top center;
    background-size: 100% 210px;
    background-image: url('../img/banner-1-320.png');
  }

  .sale-banner__text {
    margin-bottom: 155px;
    font-size: 20px;
  }

  .sale-banner__btn {
    max-width: 100%;
    width: 100%;
  }

  .offer-banner {
    padding-top: 30px;
    padding-bottom: 0;
    min-height: 302px;
    background-position: top center;
    background-size: 100% 210px;
    background-image: url('../img/banner-2-320.png');
  }

  .offer-banner__title {
    margin-bottom: 144px;
    font-size: 16px;
  }

  .offer-banner__name {
    font-size: 24px;
  }

  .offer-banner__btn {
    max-width: 100%;
    width: 100%;
  }

  .product__title {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .descr-text {
    font-size: 14px;
  }

  .product__descr {
    margin-bottom: 17px;
  }
}