// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/ui";
@import "./components/cards";
@import "./components/form";
@import "./components/catalogue";
@import "./components/product";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  min-width: 320px;
  background-color: $light-color;
}

.container {
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 36px;
  max-width: 1316px;
}

.banner {
  padding: 80px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale-banner {
  background-image: url('../img/banner-1.png');
}

.offer-banner {
  padding: 150px 0;
  background-image: url('../img/banner-2.png');
}

.rating::before {
  background-image: url('../img/svg/rating.svg');
}

.sale-banner__text {
  margin: 0;
  margin-bottom: 49px;
  font-size: 48px;
  font-weight: 700;
  line-height: 135%;
  color: #999;
  max-width: 496px;
}

.offer-banner__text {
  margin: 0;
  margin-bottom: 49px;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  color: $light-color;
  max-width: 508px;
}

.offer-banner__text span {
  font-family: 'PlayfairDisplay';
  font-size: 60px;
  font-weight: 900;
  line-height: 120%;
  color: #d4b986;
}

.offer-banner-s {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 360px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-image: url('../img/banner-2-s.png');
  background-position: top center;
  background-size: 100% 53%;
  background-color: $dark-color;

  .offer-banner__text {
    margin-bottom: 12px;
    max-width: 200px;
    font-size: 16px;
    font-weight: 400;
    color: #999;
  }

  .offer-banner__text span {
    font-size: 24px;
  }
}


.card-large {
  background-image: url('../img/offer2-bg.png');
}

.section-title {
  margin: 0;
  font-size: 32px;
  margin-bottom: 26px;
  font-weight: 400;
  line-height: 100%;
  color: $dark-color;
}

.section-title-mini {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: $dark-color;
}

.catalogue__title {
  margin-bottom: 24px;
}

.product__title {
  margin-bottom: 5px;
}

.form__title {
  margin-bottom: 9px;
}

.useful__card:first-of-type {
  .card__image-wrap {
    background-image: url('../img/useful1.png');
  }
}

.useful__card:last-of-type {
  .card__image-wrap {
    background-image: url('../img/useful2.png');
  }
}

.custom-checkbox::after {
  background-image: url('../img/svg/checkbox.svg');
}

.feedback__img {
  background-image: url('../img/svg/form.svg');
}

.descr-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #999;
}

.product__descr {
  margin-bottom: 21px;
}